@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100dvh;
  /* overflow-y: hidden; */
  overflow-y: auto;
  font-family: "Lato" !important;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1366px) and (max-height: 786px) {
  #add-form,
  #edit-form {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.loader {
  width: 1.5rem;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7c7c7c;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.ag-root.ag-layout-normal {
  width: calc(0vh) !important;
  padding-left: 2rem !important;
  padding-top: 2rem !important;
  padding-right: 2rem !important;
}

@media screen and (max-width: 1024px) {
  .ag-root.ag-layout-normal {
    padding-left: 0rem !important;
    padding-top: 0rem !important;
    padding-right: 0rem !important;
  }
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 786px) {
  html {
    font-size: 13px;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .text-gradient {
    @apply text-transparent bg-gradient-to-br from-[rgb(7,57,64)] via-[rgba(7,57,64,0.75)] to-[rgb(7,57,64)]/65 bg-clip-text;
  }
}
